* {
  /* padding: 0; */
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  height: 100%;
  
}

body, header, main, footer {
  border: 3px red solid;
  min-height: 50px;
  margin: 0.5rem;
  min-width: 400px;
  background-color: pink;
}

main {
  min-height: 200px;
  overflow: auto;
}

main>div {
  /* hijo directo del main */
  border: 2px green solid;
  min-height: 180px;
  margin: 0.5rem;
  /* overflow: auto; */
}
main>aside {
  border: 2px blue solid;
  min-height: 180px;
  margin: 0.5rem;
  width: auto;
  float: left;
}

.header-logo img {
  height: 120px;
  width: auto;
  /* width: 10%; */
}

/* .header-logo  */header {
box-shadow: 5px 10px 8px #888888;
 /* background-color: yellow;  */
}


.contenido-principal {
  min-width: 70%;
  float: left;
}

h1 {
  color:#8000ff;
  font-family: "Lucida Handwriting", "Times New Roman", Times, serif;
}
/* img {
 height: 100%;
 width: 100%;
 object-fit: contain;
} */


